.home-main a {
  
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding:10px;
    background-color: aliceblue;
    border-radius: 20px;
    display:flex;
    justify-content: space-around;
    margin-top:0vh;
    align-items: center;

    color: #07244b;
}

.home-main a:hover {
    text-shadow: 0px 0px 1px ;
    text-decoration: none;
    color: #07244b;
}

.home-main h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 1vh;;
    margin-top:0;

    color: #07244b;
}

.home-main p {
    text-align: center;
    padding-bottom: 1vh;

    color: #07244b;
}

.home-main-links {
    /* text-align: center;
    
    justify-content: space-around; */
    display: flex;



    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-main h2 {
    color: #07244b;
    text-align: center;
}

.home-img-1 {
    /* position:absolute; */

    /* right:70vw; */
    height:30vh;
    image-resolution: auto;
    padding-left: 50em;
}

.home-img-2 {
    /* position:absolute; */
    /* bottom:20vh; */
    left:70vw;
    height:30vh;
}

.home-main-img-container {
    display: flex;
 
  align-items: center;
}

.home-main-img-container img {
    padding: 2em 10em 0em 10em;
}
/* @media (max-width: 1550px){
    .home-img-2{
        left:65vw
    }
}*/

@media (max-width: 1300px){
    .home-main-img-container img{
        padding: 2em 5em 0em 5em;
    }
} 

@media (max-width: 800px){
    .home-main-img-container img{
        padding: 2em 1em 0em 1em;
    }
} 

@media (max-width: 500px){
    .home-main-img-container img{
        padding: 2em 0em 0em 0em;
    }
} 

@media (max-width: 1050px){
    .home-img-2{
        display: none;
    }
} 




