.job-card-main {
    color: #07244b;;
    background-color: aliceblue;
    padding: 5px 5px 20px 20px;
    margin: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
}

.job-card-button {
    display: inline;
    margin-left:55vw;
    background-color: #07244b;
    color:aliceblue;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.job-card-button:hover{
    cursor: pointer;
}