.search-filter-main {
    text-align: center;
}

.search-filter-main button {
    border: none;
    background-color: #07244b;
    color: aliceblue;
    border-radius: 10px;
    padding: .6em;
    font-size: 20px;
}

.search-filter-main input {
    border-color:#07244b;
    border-radius: 10px;
    padding: 1em;
    padding-right: 45vw;
}

.search-filter-main button:hover {
    cursor: pointer;
}

@media (max-width: 950px) {
    .search-filter-main form {
        flex-direction: column;
    }
}

.search-filter-main form {
    display: flex;
    flex-wrap: wrap;
}

